.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 97vw;
}
.cell{
    border: solid black 2px;
    height: 20px;
    width: 20px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto auto;

}
.snake{
    background-color: red;
}
